<div class="container-fluid text-center content-container">
    <h1>Renginiai</h1>
    <div class="admin-list-container">
        <div class="list-group">
            <button ng-click="vm.openInfoModal(activity)" type="button" class="list-group-item list-group-item-info admin-add-button">&plus;</button>
            <div ng-repeat="activity in vm.activities">
                <div class="list-group-item list-group-item-info">
                    {{activity.Name}}
                    <span class=" pull-right glyphicon glyphicon-remove activity-delete" ng-click="vm.openDeleteModal(activity)" aria-hidden="true"></span>
                    <span class=" pull-right activity-edit" ng-click="vm.openInfoModal(activity)">Peržiūrėti/Redaguoti</span>
                </div>
            </div>
        </div>
    </div>
</div>
<button class="btn btn-default" ng-click="vm.logout()">Logout</button>
