<div class="modal-header">
    <h3 class="modal-title">Redaguoti renginį</h3>
</div>
<div class="modal-body">
    <form class="form-horizontal">
        <div class="form-group">
            <label for="name" class="control-label col-xs-2">Renginio pavadinimas</label>
            <div class="col-xs-10">
                <input  type="text" 
                        name="name" 
                        class="form-control" 
                        ng-model="vm.newActivityName">
            </div>
        </div>
        <div class="form-group">
            <label for="branch" class="control-label col-xs-2">Kategorija</label>
            <div class="col-xs-10">
                <input  type="text" 
                        name="branch" 
                        class="form-control" 
                        value="{{vm.activity.Branch}}"
                        ng-model="vm.newActivityBranch">
            </div>
            {{vm.newActivityBranch}}
        </div>
        <div class="form-group">
            <label for="date" class="control-label col-xs-2">Data</label>
            <div class="col-xs-10">
                <div class="row">
                    <div class="col-xs-4 input-group">
      <!--               <input  type="text" 
                            name="date" 
                            class="form-control" 
                            value="{{vm.activity.Date}}"
                            ng-model="vm.newActivitytDate"> -->
                    <!-- <h4>Standard date-picker</h4> -->
             
<!--                         <input type="text" class="form-control" uib-datepicker-popup is-open="popup2.opened" datepicker-options="dateOptions" ng-required="true" close-text="Close" value="{{vm.activity.Date}}"
                            ng-model="vm.newActivitytDate">
                        <span class="input-group-btn">
                                <button type="button" class="btn btn-default" ng-click="open2()"><i class="glyphicon glyphicon-calendar"></i></button>
                        </span>
                        {{vm.newActivitytDate | date:'yyyy-MM-dd'}} -->

                    <input type="text" class="form-control" placeholder="Renginys" aria-describedby="sizing-addon2" uib-datepicker-popup is-open="popup2.opened" datepicker-options="dateOptions" ng-required="true" close-text="Close" value="{{vm.activity.Date}}" ng-model="vm.newActivitytDate">
                        <span class="input-group-addon">
                            <span class="glyphicon glyphicon-calendar" aria-hidden="true" ng-click="open2()"></span>
                        </span>
                    </div>
                    <div class="col-xs-2">
                        <input class="form-control" type="text" placeholder="hh" ng-model="vm.eventHours">
                    </div>
                    <div class="col-xs-2">
                        <input class="form-control" type="text" placeholder="mm" ng-model="vm.eventMinutes">
                    </div>
                </div>
            </div>
        </div>
        <div class="form-group">
            <label for="description" class="control-label col-xs-2">Aprašymas</label>
            <div class="col-xs-10">
                <input  name="description" 
                        type="text" 
                        class="form-control" id="inputPassword" value="{{vm.activity.Description}}"
                        ng-model="vm.newActivityDescription">
            </div>
        </div>
        <div class="form-group">
            <label for="registrationDate" class="control-label col-xs-2">Registracijos data</label>
            <div class="col-xs-10">
                <input  name="RegistrationDate" 
                        type="text" 
                        class="form-control"
                        value="{{vm.activity.RegistrationDate}}"
                        ng-model="vm.newActivityRegistrationDate">
            </div>
        </div>        
        <div class="form-group">
            <label for="status" class="control-label col-xs-2">Vieta</label>
            <div class="col-xs-10">
                <input  name="status" 
                        type="text" 
                        class="form-control"
                        value="{{vm.activity.Status}}"
                        ng-model="vm.newActivityLocation">
            </div>
        </div>
        <div class="form-group">
            <label for="status" class="control-label col-xs-2">Registracijos Url</label>
            <div class="col-xs-10">
                <input  name="status" 
                        type="text" 
                        class="form-control"
                        value="{{vm.activity.RegistrationUrl}}"
                        ng-model="vm.newActivityRegistrationUrl">
            </div>
        </div>
    </form>
</div>
<div class="modal-footer">
    <button class="btn btn-primary" type="button" ng-click="vm.onSubmit()">Išsaugoti</button>
    <button class="btn btn-danger" type="button" ng-click="vm.ok()">Atšaukti</button>
   

</div>


  