.header-brand{
    margin-top:-6px
}

.header-brand > img{
  	height: 35px;
    width: 70px;
}

.navbar{
  margin-bottom: 0;
}
.content-container{
  padding-top: 50px;
}


/*events*/
.events-image > img{
	width: 100%;
  height: auto;
}
.events-list-container{
	margin-top: 20px;
	padding-bottom: 50px;
	margin: 0 auto;
    width: 80%;
    text-align: center;
}
.events-list-container span{
	font-size: 1.2em;
	cursor: pointer;
}

/* modal*/
.modal {
  text-align: center;
  padding: 0!important;
}

.modal:before {
  content: '';
  display: inline-block;
  height: 100%;
  vertical-align: middle;
  margin-right: -4px;
}

.modal-dialog {
  display: inline-block;
  text-align: left;
  vertical-align: middle;
}
/**/
.navbar{
  border-radius: 0px;
}


/*admin*/
.admin-list-container .admin-add-button{
  font-size:2em;
  text-align:center;

}

.admin-list-container{
  width: 45%;
  margin:0 auto;

}
.admin-list-container button{
  font-size: 1.3em;
  border:1px solid #fff;
  
}
.admin-list-container button span{
  font-size: 0.8em;
  display: none;
}
.admin-list-container button:hover > span{
  display: block;
}



/**/