<div class="container-fluid points-view-container">
    <div class="input-group search-box">
        <span class="input-group-addon" id="sizing-addon2">
        <span class="glyphicon glyphicon-search" aria-hidden="true">
       	</span>
        </span>
        <input type="text" class="form-control" placeholder="Vardas Pavardė" aria-describedby="sizing-addon2" ng-model="search">
    </div>
    <table class="table table-hover results-table-all">
        <thead>
            <tr>
                <th>Darbuotojas</th>
                <th>Taškai</th>
            </tr>
        </thead>
        <tbody>
            <tr ng-repeat="participant in vm.participants | filter: search | orderBy: vm.total : true" ng-init="idx = $index+1">
                <td> {{idx}}. {{participant.FirstName}} {{participant.LastName}}</td>
                <td>{{ vm.total(participant) }}</td>
            </tr>
        </tbody>
    </table>
</div>
