<h3>brain</h3>
<div class="bs-example">
        <table class="table table-hover results-table">
            <thead>
                <tr>
                    <th>Darbuotojas</th>
                    <th>Programavimo Varžybos</th>
                    <th>Stalo žaidimų turnyras</th>
                    <th>Mortal Combat turnyras</th>
                    <th>Totalizatorius</th>
                    <th>Šachmatų turnyras</th>
                </tr>
            </thead>
            <tbody>
                <tr>
                    <td>Darbuotojas 1</td>
                    <td>2</td>
                    <td>1</td>
                    <td>4</td>
                    <td>4</td>
                    <td>4</td>
                </tr>
                <tr>
                    <td>Darbuotojas 2</td>
                    <td>5</td>
                    <td>5</td>
                    <td>4</td>
                    <td>4</td>
                    <td>4</td>
                </tr>
                <tr>
                    <td>Darbuotojas 2</td>
                    <td>5</td>
                    <td>5</td>
                    <td>4</td>
                    <td>4</td>
                    <td>4</td>
                </tr>
                <tr>
                    <td>Darbuotojas 2</td>
                    <td>5</td>
                    <td>5</td>
                    <td>4</td>
                    <td>4</td>
                    <td>4</td>
                </tr>
                <tr>
                    <td>Darbuotojas 2</td>
                    <td>5</td>
                    <td>5</td>
                    <td>4</td>
                    <td>4</td>
                    <td>4</td>
                </tr>
                <tr>
                    <td>Darbuotojas 2</td>
                    <td>5</td>
                    <td>5</td>
                    <td>4</td>
                    <td>4</td>
                    <td>4</td>
                </tr>
                <tr>
                    <td>Darbuotojas 2</td>
                    <td>5</td>
                    <td>5</td>
                    <td>4</td>
                    <td>4</td>
                    <td>4</td>
                </tr>
                <tr>
                    <td>Darbuotojas 2</td>
                    <td>5</td>
                    <td>5</td>
                    <td>4</td>
                    <td>4</td>
                    <td>4</td>
                </tr>
                <tr>
                    <td>Darbuotojas 2</td>
                    <td>5</td>
                    <td>5</td>
                    <td>4</td>
                    <td>4</td>
                    <td>4</td>
                </tr>
                <tr>
                    <td>Darbuotojas 2</td>
                    <td>5</td>
                    <td>5</td>
                    <td>4</td>
                    <td>4</td>
                    <td>4</td>
                </tr>
                <tr>
                    <td>Darbuotojas 2</td>
                    <td>5</td>
                    <td>5</td>
                    <td>4</td>
                    <td>4</td>
                    <td>4</td>
                </tr>
                <tr>
                    <td>Darbuotojas 2</td>
                    <td>5</td>
                    <td>5</td>
                    <td>4</td>
                    <td>4</td>
                    <td>4</td>
                </tr>                <tr>
                    <td>Darbuotojas 2</td>
                    <td>5</td>
                    <td>5</td>
                    <td>4</td>
                    <td>4</td>
                    <td>4</td>
                </tr>                <tr>
                    <td>Darbuotojas 2</td>
                    <td>5</td>
                    <td>5</td>
                    <td>4</td>
                    <td>4</td>
                    <td>4</td>
                </tr>                <tr>
                    <td>Darbuotojas 2</td>
                    <td>5</td>
                    <td>5</td>
                    <td>4</td>
                    <td>4</td>
                    <td>4</td>
                </tr>                <tr>
                    <td>Darbuotojas 2</td>
                    <td>5</td>
                    <td>5</td>
                    <td>4</td>
                    <td>4</td>
                    <td>4</td>
                </tr>                <tr>
                    <td>Darbuotojas 2</td>
                    <td>5</td>
                    <td>5</td>
                    <td>4</td>
                    <td>4</td>
                    <td>4</td>
                </tr>                <tr>
                    <td>Darbuotojas 2</td>
                    <td>5</td>
                    <td>5</td>
                    <td>4</td>
                    <td>4</td>
                    <td>4</td>
                </tr>                <tr>
                    <td>Darbuotojas 2</td>
                    <td>5</td>
                    <td>5</td>
                    <td>4</td>
                    <td>4</td>
                    <td>4</td>
                </tr>                <tr>
                    <td>Darbuotojas 2</td>
                    <td>5</td>
                    <td>5</td>
                    <td>4</td>
                    <td>4</td>
                    <td>4</td>
                </tr>                <tr>
                    <td>Darbuotojas 2</td>
                    <td>5</td>
                    <td>5</td>
                    <td>4</td>
                    <td>4</td>
                    <td>4</td>
                </tr>                <tr>
                    <td>Darbuotojas 2</td>
                    <td>5</td>
                    <td>5</td>
                    <td>4</td>
                    <td>4</td>
                    <td>4</td>
                </tr><tr>
    <td>Darbuotojas 2</td>
    <td>5</td>
    <td>5</td>
    <td>4</td>
    <td>4</td>
    <td>4</td>
</tr>

            </tbody>
        </table>
    </div>
</div>
<div ui-view class="tab-content"></div>
