<!-- <h3>sports</h3>
<div class="bs-example">
    <table class="table table-hover results-table">
        <thead>
            <tr>
                <th>Darbuotojas</th>
                <th ng-repeat="activityParticipants in vm.activitiesParticipants | filter : {'Branch':  'Sports'}">
                    {{activityParticipants.Name}}
                </th>
            </tr>
        </thead>
        <tbody>
            <tr ng-repeat="participant in vm.participants">
                <td>{{participant.FirstName}}</td>
            </tr>
        </tbody>
    </table>
</div>
</div>
<div ui-view class="tab-content"></div>
 -->

 <points-dir activity-array="vm.activitiesParticipants" activity-type="Sports"></points-dir>