<!-- <h2>eventsList</h2> -->
<div class="content-container">
    <div class="events-image">
        <img src="images/image1.jpg">
    </div>
    <div class="container events-list-container">
        <div class="row">
            <h1>Artimiausi renginiai</h1>
            <div class="backend-buttons">
                <button class="btn btn-primary" ng-click="vm.switchToPhp()">php</button>
                <button class="btn btn-primary" ng-click="vm.switchToNet()">.net</button>
                <button class="btn btn-primary" ng-click="vm.switchToJava()">java</button>
            </div>
            <hr>
            <div class="col-lg-3 col-md-3 col-sm-6">
                <h2>Sport</h2>
                <div ng-repeat="activity in vm.activities | orderBy : 'Date' | filter : {'Branch':  'Sports'} : true ">
                    <br>
                    <a ng-click="vm.openInfoModal(activity)">
                        <span>{{activity.Name}}</span>
                    </a>
                    <br>
                    <span>{{activity.Date | limitTo: 10}}</span>
                    <br>
                    <a class="btn btn-primary" ng-click="vm.openRegistrationModal(activity)">registracija</a>
                    <br>
                </div>
            </div>
            <div class="col-lg-3 col-md-3 col-sm-6">
                <h2>Games</h2>
                <span>{{activity.Name}}</span>
                <div ng-repeat="activity in vm.activities | orderBy : 'Date' | filter:{'Branch':  'Games'}:true">
                    <br>
                    <a ng-click="vm.openInfoModal(activity)">
                        <span>{{activity.Name}}</span>
                    </a>
                    <br>
                    <span>{{activity.Date | limitTo: 10}}</span>
                    <br>
                    <a href="{{activity.RegistrationUrl}}" class="btn btn-primary">registracija</a>
                    <br>
                </div>
            </div>
            <div class="clearfix visible-sm"></div>
            <div class="col-lg-3 col-md-3 col-sm-6">
                <h2>Brain</h2>
                <div ng-repeat="activity in vm.activities | orderBy : 'Date' | filter:{'Branch':  'Brain'}:true">
                    <br>
                    <a ng-click="vm.openInfoModal(activity)">
                        <span>{{activity.Name}}</span>
                    </a>
                    <br>
                    <span>{{activity.Date | limitTo: 10}}</span>
                    <br>
                    <a href="{{activity.RegistrationUrl}}" class="btn btn-primary">registracija</a>
                    <br>
                </div>
            </div>
            <div class="col-lg-3 col-md-3 col-sm-6">
                <h2>Team</h2>
                <div ng-repeat="activity in vm.activities | orderBy : 'Date' | filter:{'Branch':  'Team'}:true">
                    <br>
                    <a ng-click="vm.openInfoModal(activity)">
                        <span>{{activity.Name}}</span>
                    </a>
                    <br>
                    <span>{{activity.Date | limitTo: 10}}</span>
                    <br>
                    <a href="{{activity.RegistrationUrl}}" class="btn btn-primary">registracija</a>
                </div>
            </div>
        </div>
    </div>
            <div ng-repeat="participant in vm.participants">
            {{participant.FirstName}}
        </div>
</div>
