<h3>points</h3>
    <div id="wrapper" class="toggled">
        <div class="overlay"></div>
    
        <!-- Sidebar -->
        <nav class="navbar navbar-inverse navbar-fixed-top" id="sidebar-wrapper" role="navigation">
            <ul class="nav sidebar-nav">
                <li class="sidebar-brand">
                    <a href="#">
                       BENDRI REZULTATAI
                    </a>
                </li>
                <li>
                    <a href="#">SPORT</a>
                </li>
                <li>
                    <a href="#">BRAIN</a>
                </li>
                <li>
                    <a href="#">GAMES</a>
                </li>
                <li>
                    <a href="#">TEAM</a>
                </li>
            </ul>
        </nav>
        <!-- /#sidebar-wrapper -->

        <!-- Page Content -->
        <div id="page-content-wrapper">
            <!--<button type="button" class="hamburger is-open" data-toggle="offcanvas">
                <span class="hamb-top"></span>
    			<span class="hamb-middle"></span>
				<span class="hamb-bottom"></span>
            </button>
            -->
            <div class="container">
                <div class="row">
                </div>
            </div>
        </div>
        <!-- /#page-content-wrapper -->

    </div>
    <!-- /#wrapper -->
    
   
<!-- table of results-->
<div class="container">
	<div class="row">
        <div class="col-md-3">
            <form action="#" method="get">
                <div class="input-group">
                    <!-- USE TWITTER TYPEAHEAD JSON WITH API TO SEARCH -->
                    <input class="form-control" id="system-search" name="q" placeholder="Sök" required>
                    <span class="input-group-btn">
                        <button type="submit" class="btn btn-default"><i class="glyphicon glyphicon-search"></i></button>
                    </span>
                </div>
            </form>
        </div>
		<div class="col-md-9" ng-controller="PointsController as controller">
            <form>
    <div class="form-group">
      <div class="input-group">
        <div class="input-group-addon"><i class="fa fa-search"></i></div>

        <input type="text" class="form-control" placeholder="Filter..." ng-model="searchPerson">

      </div>      
    </div>
  </form>
            <table class="table table-striped">
                <thead>
                    <tr>
                        <th>Bendra įskaita</th>
                        <th>Pavardė</th>
                        <th>Vardas</th>
                        <th>Sport</th>
                        <th>Brain</th>
                        <th>Games</th>
                        <th>Team</th>
                        <th>Total</th>
                    </tr>
                </thead>
                <tbody>
                    <tr ng-repeat="person in controller.people | filter:searchPerson">
                        <td>{{person.Vieta}}</td>
                        <td>{{person.Pavarde}}</td>
                        <td>{{person.Vardas}}</td>
                        <td>{{person.Sport}}</td>
                        <td>{{person.Brain}}</td>
                        <td>{{person.Games}}</td>
                        <td>{{person.Team}}</td>
                        <td>{{person.Total}}</td>
                    </tr>
                </tbody>
            </table>
		</div>
	</div>
</div>