<div class="content-container">
    <div class="header-container events-image">
        <div class="header-text">
            <h1>Artimiausi renginiai</h1>
        </div>
        <img src="images/image2.jpg">
    </div>
    <div class="container events-list-container" background="http://www.baltic-amadeus.lt/images/bg-mountains.png">
        <div class="row match-my-cols">
            <div class="col-lg-3 col-md-3 col-sm-6 event-list-columns">
                <h2>Sport</h2>
                <div ng-repeat="activity in vm.activities | orderBy : 'Date' | filter : {'Branch':  'Sports'} : true " ng-class="{'date-passed' : vm.isEventPast(activity.Date)}">
                    <br>
                    <a ng-click="vm.openInfoModal(activity)">
                        <span>{{activity.Name}}</span>
                    </a>
                    <br>
                    <span>{{activity.Date | limitTo: 10}}</span>
                    <br>
                    <a class="btn btn-primary" ng-click="vm.openRegistrationModal(activity)" ng-class="{'disabled' : vm.isEventPast(activity.Date)}">registracija</a>
                    <br>
                </div>
            </div>
            <div class="col-lg-3 col-md-3 col-sm-6 event-list-columns">
                <h2>Games</h2>
                <span>{{activity.Name}}</span>
                <div ng-repeat="activity in vm.activities | orderBy : 'Date' | filter:{'Branch':  'Games'}:true" ng-class="{'date-passed' : vm.isEventPast(activity.Date)}">
                    <br>
                    <a ng-click="vm.openInfoModal(activity)">
                        <span>{{activity.Name}}</span>
                    </a>
                    <br>
                    <span>{{activity.Date | limitTo: 10}}</span>
                    <br>
                    <a class="btn btn-primary" ng-click="vm.openRegistrationModal(activity)" ng-class="{'disabled' : vm.isEventPast(activity.Date)}">registracija</a>
                    <br>
                </div>
            </div>
            <div class="clearfix visible-sm"></div>
            <div class="col-lg-3 col-md-3 col-sm-6 event-list-columns">
                <h2>Brain</h2>
                <div ng-repeat="activity in vm.activities | orderBy : 'Date' | filter:{'Branch':  'Brain'}:true" ng-class="{'date-passed' : vm.isEventPast(activity.Date)}">
                    <br>
                    <a ng-click="vm.openInfoModal(activity)">
                        <span>{{activity.Name}}</span>
                    </a>
                    <br>
                    <span>{{activity.Date | limitTo: 10}}</span>
                    <br>
                    <a class="btn btn-primary" ng-click="vm.openRegistrationModal(activity)" ng-class="{'disabled' : vm.isEventPast(activity.Date)}">registracija</a>
                    <br>
                </div>
            </div>
            <div class="col-lg-3 col-md-3 col-sm-6 event-list-columns">
                <h2>Team</h2>
                <div ng-repeat="activity in vm.activities | orderBy : 'Date' | filter:{'Branch':  'Team'}:true" ng-class="{'date-passed' : vm.isEventPast(activity.Date)}">
                    <br>
                    <a ng-click="vm.openInfoModal(activity)">
                        <span>{{activity.Name}}</span>
                    </a>
                    <br>
                    <span>{{activity.Date | limitTo: 10}}</span>
                    <br>
                    <a class="btn btn-primary" ng-click="vm.openRegistrationModal(activity)" ng-class="{'disabled' : vm.isEventPast(activity.Date)}">registracija</a>
                </div>
            </div>
        </div>
    </div>
    <footer>
        &copy; 2016 BALTIC AMADEUS
        <div class="backend-buttons">
            <button class="btn btn-default" ng-click="vm.switchToPhp()" ng-class="{'btn-primary active' : vm.checkApi('http://mokymaijava.northeurope.cloudapp.azure.com/api') }">php</button>
            <button class="btn btn-default" ng-click="vm.switchToNet()" ng-class="{'btn-primary active' : vm.checkApi('http://mokymainet.azurewebsites.net/api') }">.net</button>
            <button class="btn btn-default" ng-click="vm.switchToJava()" ng-class="{'btn-primary active' : vm.checkApi('http://mokymaijava.northeurope.cloudapp.azure.com/BAChallenge') }">java</button>
        </div>
    </footer>
</div>
